@font-face {
    font-family: 'micross';
    src: url(../fonts/micross.ttf);
}

body{
    background: white !important;
    font-family: 'micross';
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}


/* wallpaper stylings */
.wallpaper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 0;
}
/* end of wallpaper stylings */


/* desktop icons stylings */
#desktop-icons-wrapper{
    margin-left: 5px;
    position: relative;
    z-index: 1;
}
#desktop-icons-wrapper .icon{
    width: 100px;
    height: auto;
    background: none;
    margin-top: 25px;
}
#desktop-icons-wrapper .icon .icon-img{
    width: 48%;
}
.icon p{
    margin-top: 7px;
    text-align: center;
    color: white;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
}
/* end of desktop icons stylings */


/* toolbar stylings */
#toolbar{
    /* height: 40px; */
    width: 100vw;
    overflow: hidden !important;
    background-color: #C0C0C0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1;
    border-top: 2.5px solid white;
    padding-bottom: 5px;
    padding-top: 3px;
    padding-left: 2px;
}
.start-button{
    width: 100px;
    height: 32px;
    border-radius: 0px;
    background: #C0C0C0; 
    text-transform: capitalize; 
    display: flex;
    border-top: 2px solid white;
    border-left: 2px solid white;  
    filter: drop-shadow(3px 3px 1px #434343);
}
.start-button:hover{
    background: #C0C0C0;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
.start-button p{
    margin-top: -2px;
    margin-left: 8px;
    font-size: 16px;
    letter-spacing: 0.5px;
    -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: black;
}
.start-button .icon{
    width: 23px;
    height: 20px;
}
#toolbar #tabs-wrapper{
    display: flex;
    margin-left: 15px;
}
#toolbar #tabs-wrapper .icon{
    width: 25px;
    height: 25px;
    margin-top: -2px;
}
#toolbar .tab{
    width: 170px;
    height: 32px;
    background: #C0C0C0; 
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
    border-top: 2px solid white;
    border-left: 2px solid white;  
    filter: drop-shadow(2px 2px 1px #616161);
}
#toolbar .tab p{
    margin-left: 10px;
    margin-top: -1px;
}
#date-time{
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    top: 45%;
    text-transform: uppercase;
}
/* end of toolbar stylings */